body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: rgb(15, 18, 25);
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
}
.container {
  display: flex;
  flex-flow: row wrap;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profile-index {
  width: 500px;
  height: 500px;
}

.circle1 {
  background-color: aliceblue;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: 120px;
  left: 300px;
}

.circle2 {
  background-color: sandybrown;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  align-self: flex-end;
  position: absolute;
}

.circle3 {
  background-color: antiquewhite;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  align-self: self-start;
}

#profile-about {
  width: 150px;
  height: 150px;
}

#profile-portfolio {
  width: 150px;
  height: 150px;
}
#profile-index,
#profile-about,
#profile-portfolio {
  border-bottom: solid saddlebrown 5px;
  border-top: solid saddlebrown 5px;
  z-index: 99;
}

a {
  color: sandybrown;
}

a:hover {
  color: gold;
}

.proj-container {
  display: flex;
  justify-content: space-between;
}
